[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
seaborn = "*"
scipy = "*"
flask = "*"
scikit-learn = "*"
jupyter = "*"
numpy = "*"
gunicorn = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
